/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar  */

#navbar{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-item .nav-link{
    margin-left: 20px !important;
    font-weight: 400;
}


/* top offcanvas */

#off form input, textarea{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 2px;
    outline: none;
}
#off form button{
    margin-top: 1rem;
    width: 100%;
    border: none;
    padding: 15px 30px;
    letter-spacing: 4px;
    background: #c4d8ee;
    color: white;
}


main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
main .background_forest{
    position: absolute;
    width: 2800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
main .right_tree{
    position: absolute;
    width: 1300px;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
main .main_character{
    position: absolute;
    width: 1300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
main .left_tree{
    position: absolute;
    width: 1200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
main .fog{
    position: absolute;
    width: 2800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
main .text{
    position: absolute;
    z-index: 9;
    text-align: center;
    top: 60%;
    width: 100%;
}
main .text h2{
    color: white;
    letter-spacing: 10px;
}
main .text h1{
    color: white;
    letter-spacing: 20px;
    font-weight: 800;
}
.vignette{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax{
    pointer-events: none;
    transition: 0.8s cubic-bezier(0.2,0.49,0.32,0.99);
}

/* social media section */

#social_media{
    background-color: rgb(26, 22, 22);
}
#social_media img{
    width: 80px;
}

/* about section */



/* media query */

/* for android  */

@media screen and (max-width: 768px){
    main .main_character {
        width: 1350px;
    }
    main .right_tree {
        left: 0%;
    }
    main .left_tree {
        left: 80%;
    }
    #touch{
        background-color: white;
        margin-top: 15px;
    }
}